div {
    background-color: beige;
    margin: auto;
    text-align: center;
}

#titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    color: wheat;
    background-color: gray;
    padding: 1em; /* Añadido para mejorar la visualización del título */
}

.formulario .button {
    display: inline-block;
    text-align: center;
    background-color: darkorange; /* Cambiado el color del botón */
    color: white; /* Cambiado el color del texto del botón */
    padding: 0.5em 1em; /* Añadido para mejorar el aspecto del botón */
    border: none; /* Añadido para eliminar el borde del botón */
    cursor: pointer; /* Añadido para mostrar un cursor al pasar sobre el botón */
    margin: 0 0.5em; /* Añadido para espaciar los botones */
}

.formulario input[type="number"],
.formulario input[type="text"] {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 2ch; /* Reducido el espacio entre los campos de entrada */
    padding: 0.5em; /* Añadido para mejorar el aspecto de los campos de entrada */
    width: 80%; /* Añadido para mejorar la anchura de los campos de entrada */
    height: 2.5em; /* Añadido para hacer las casillas de entrada un poco más altas */
    border: 1px solid gray; /* Añadido para agregar un borde a los campos de entrada */
    border-radius: 5px; /* Añadido para suavizar los bordes de los campos de entrada */
}

#resultado {
    color: green; /* Cambiado el color del resultado */
}
